@import "tailwindcss";

html {
  font-size: 110%;
}

body {
  background-color: #faeee0; /* Bege claro */
}

.card {
  background-color: #ffffff45;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  padding: 24px;
  margin-bottom: 32px;
}

h1{
    font-family: "Playfair Display";
}

/*estilização customizada para tailwind*/
@theme {

}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 30%;
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
}